Welcome <%= current_user.username.capitalize %>! Click a conversation to view your messages.

<br>
<br>
<br>

<h1>Conversations</h1>

<div id="conversations">
  <ul>
    <% @conversations.each do |conversation| %>
      <%= link_to conversation_path(conversation) do %>
        <li class="conversation" data-turbolinks="false">
          <%= conversation.user_list(current_user) %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<br>
<br>

<h2>Start a new conversation</h2>
<%= form_with model: @conversation do |f| %>
  <div>
    <%= f.label :usernames, 'Enter usernames of people you would like to chat with, separated by a comma:' %>

    <div  class="form-group">
      <%= f.text_area :usernames, class: 'form-control' %>
    </div>

    <%= f.submit 'Start Conversation', class: 'btn btn-info' %>
  </div>
<% end %>