<h1>Conversation with: <%= @conversation.user_list(current_user) %></h1>

<br>

<ul id="messages">
  <% @conversation.messages.includes(:user).each do |message| %>
    <!--these might make sense as helper methods.-->
    <% is_user_message = message.user.id == current_user.id %>
    <% message_color = is_user_message ? 'seagreen' : 'black' %>
    <% display_username = is_user_message ? 'you' : message.user.username %>

    <li class="message" style="color: <%= message_color %>">
      <%= display_username %>: <%= message.body %>
    </li>
  <% end %>
</ul>

<%= form_with model: @message, url: conversation_messages_path(@conversation), html: { class: 'form-inline' } do |f| %>
  <div class="form-group mx-sm-3">
    <%= f.text_field :body, class: 'form-control', placeholder: 'Add a message' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Send Message', class: 'btn btn-info' %>
  </div>
<% end %>

<div id="conversationId" style="display: none"><%= @conversation.id %></div>
<div id="userId" style="display: none"><%= current_user.id %></div>