<!DOCTYPE html>
<html>
  <head>
    <title>Smessenger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <%= link_to root_path do %>
        <div class="logo">
          SMessenger
        </div>
      <% end %>

      <% if current_user %>
        <%= button_to 'Sign Out', sign_in_path, method: :delete %>
      <% end %>
    </div>

    <div><%= flash[:alert] %></div>
    <div><%= flash[:notice] %></div>

    <div style="padding: 20px;">
      <%= yield %>
    </div>
  </body>
</html>
