<!DOCTYPE html>
<html>
  <head>
    <title>Smessenger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if params[:controller] == 'conversations' and params[:action] == 'show' %>
      <meta name="turbolinks-visit-control" content="reload">
    <% end %>
  </head>

  <body>
    <div class="header">
      <%= link_to root_path do %>
        <div class="logo">
          SMessenger
        </div>
      <% end %>

      <% if current_user %>
        <%= button_to 'Sign Out', sign_in_path, method: :delete, class: 'btn btn-info' %>
      <% end %>
    </div>

    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>

    <% if flash[:notice] %>
      <div  class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>

    <div style="padding: 20px;">
      <%= yield %>
    </div>
  </body>
</html>
